{% if post.comment_set.all %}
<hr>
<h4 class="mb">コメント一覧</h4>
{% for comment in post.comment_set.all %}
    <div class="comment mb-4">
        <b mb-2>{{comment.name}}:{{comment.created_at}}</b>
       
        <a href="{% url 'reply' comment.pk %}" ><i class="fa-solid fa-reply text-black"></i></a>
         {% if user.is_authenticated %}
        <a href="{% url 'comment-delete' comment.pk %}" ><i class="fa-solid fa-trash-can text-black"></i></a>
        {% endif %}
         <p>{{comment.text}}</p>

            {% for reply in comment.reply_set.all %}
                <div class="reply ms-5">
                    <b>{{reply.name}}:{{reply.created_at}}</b>
                   
                    <a href="{% url 'reply-delete' reply.pk %}" ><i class="fa-solid fa-trash-can text-black"></i></a>
                    <p>{{reply.text}}</p>
                     <hr>
                </div>
            {% endfor %}
    </div>
{% endfor %}
{% endif %}
